@import '../../app/style/core/core';
.balance-summary{
	color:$primaryTextColor;
	padding-top: 50px;
	padding-left: $gutterPadding;
	padding-right: $gutterPadding;
	background: url(/static/img/poly.jpg);
    padding-bottom: 20px;
	small {
		font-size: 60%;
	}
	p.address-text {
		line-height: 6px;
		font-size: 0.9rem;
	}
	p.balance {
	  font-size: 3rem;
      font-weight: bold;
      margin-bottom: 0;
      line-height: 50px;
      text-overflow:ellipsis;
      max-width: 80%;
      overflow: hidden;

      .symbol {
        font-size: 40%;
        vertical-align: super;
      }
	}
	small.balance-in-usd{
		font-size: 90%;
	}
}

