<div class="home">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
    <img src="static/img/epiphany-logo.png">
    <span>epiphany account</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text">
      Navbar text with an inline element
    </span>
    </div>
  </nav>
  <div class="balance">
    <small>BALANCE</small>
    <p><span>{{balance}}</span> <span class="symbol">ENY</span></p>
    <div class="button-holder">
      <a href="#" class="btn btn-info btn-lg bg-primary text-light">Make a Payment</a><a href="#" class="btn btn-info btn-lg bg-primary text-light">Request Payment</a>
    </div>
  </div>
  <div class="list">
    <div class="list-group">
      <div class="heading-holder bg-dark text-light">
        <h2>Recent Transactions</h2>
      </div>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-light" v-for="item in transactions">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-primary"  v-bind:class="item.transferClass">{{item.transfer}} <small>ENY</small></h5>
          <small>{{item.date}}</small>
        </div>
        <p class="mb-1 text-muted">{{item.type}}</p>
        <p><small class="text-muted">{{item.fee}}<small> ETH</small>(transaction fee)</small>
        </p>
        <a v-bind:href="item.link" target="_blank">
        <p><small class="text-primary">MORE INFO</small></p>
        </a>
      </a>
    </div>
  </div>
</div>
