<div class="home">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
    <img src="static/img/epiphany-logo.png">
    <span>epiphany account</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text">
      Navbar text with an inline element
    </span>
    </div>
  </nav>
  <div class="balance">
  <small>BALANCE</small>
  <p><span>{{balance}}</span> <span class="symbol">ENY</span></p>
  <div class="button-holder">
  <a href="#" class="btn btn-info btn-lg bg-primary text-light" >Send Coins</a><a href="#" class="btn btn-info btn-lg bg-primary text-light" >Request Coins</a>
  </div>
  </div>
  <div class="list">
    <div class="list-group">
    <div class="heading-holder bg-dark text-light">
     <h2>Recent Transactions</h2>
  </div>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-light">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-primary">0.01 ETH</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1 text-muted">0xeDDf29Fa1fb8ADcbaCF1Ef3691604Bdb65341Ac6</p>
    <small class="text-muted">0.002161561 tx fee</small>
  </a>
   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-light">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-primary">0.0025 ETH</h5>
      <small >3 days ago</small>
    </div>
    <p class="mb-1 text-muted">0xeDDf29Fa1fb8ADcbaCF1Ef3691604Bdb65341Ac6</p>
    <small class=" text-muted">0.002161561 tx fee</small>
  </a>
   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-light">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-primary">0.05 ETH</h5>
      <small>2 days ago</small>
    </div>
    <p class="mb-1 text-muted">0xeDDf29Fa1fb8ADcbaCF1Ef3691604Bdb65341Ac6</p>
    <small class=" text-muted">0.002161561 tx fee</small>
  </a>
   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-light">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-primary">0.006 ETH</h5>
      <small>1 days ago</small>
    </div>
    <p class="mb-1 text-muted">0xeDDf29Fa1fb8ADcbaCF1Ef3691604Bdb65341Ac6</p>
    <small class=" text-muted">0.002161561 tx fee</small>
  </a>
</div>
  </div>
</div>
