@import '../../app/style/core/core';
.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-radius: 0;
  color: $primaryTextColor;
  display: none;
  z-index: 99999;
  border: 0;
  &.show {
    display: block;
  }

  &.danger {
    background-color: $primaryRed;
  }
  label{
    padding-right: 30px;
  }
  button {
    background-color: transparent;
    color: $primaryTextColor;
    border: 0;
    position: absolute;
    right: $gutterPadding;
    width: auto;
    height: auto;
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
