<div class="login">
  <div class="beta"><span class="badge badge-warning">beta</span></div>
  <img class="logo" src="static/img/epiphany-logo.png">
  <form>
    <div class="form-group">
      <input v-model="privatekey" type="text" class="form-control text-dark" id="privatekey" aria-describedby="private key" placeholder="private key">
      <small id="emailHelp" class="form-text text-muted">We never share or store your private key.</small>
    </div>
    <button type="button" class="btn primary" v-on:click="login()">Login</button>
    <a href="#/new-wallet">
      <button type="button" id="create-wallet-button" class="btn primary">Create new Account</button>
    </a>
    <select class="form-control form-control-sm bg-muted" v-model="network" v-on:change="networkChanged">
      <option>Change network</option>
      <option value="main">Main Network</option>
      <option value="test">Test Network</option>
    </select>
  </form>
</div>
