<div class="login">
  <img src="static/img/epiphany-logo.png">
  <h1 class="text-light">Login into your Epiphany Wallet</h1>
  <form>
    <div class="form-group">
      <input v-model="privatekey" type="text" class="form-control text-dark" id="privatekey" aria-describedby="private key" placeholder="private key">
      <small id="emailHelp" class="form-text text-muted">We'll never share your private key.</small>
    </div>
    <a href="#">
    <button type="button" class="btn btn-info" v-on:click="login()">Login</button>
    </a><br>
    <button type="button" id="create-wallet-button" class="btn btn-info" v-on:click="createWallet()" data-toggle="modal" data-target="#create-modal">Create new Account</button>
  </form>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="create-modal" data-backdrop="">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title ">New Wallet Created</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Wallet Address</strong> <span>{{newWalletAddress}}</span></p>
        <p><strong>Private Key</strong> <span>{{newPrivateKey}}</span><br><small>Never share your private key</small></p>
       <p><small>Save this imformation where it's safe. Do not lose it or you may lose your coins.</small></p>
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
