@import '../../app/style/core/core';
.qr-code-preview {
  text-align: center;
  padding-top: 50px;
  background-color: $primaryBlue;
  height: 100%;
  color: $primaryTextColor;
  padding-left: $gutterPadding;
  padding-right: $gutterPadding;
  font-family: 'Open Sans', sans-serif;
  #qrcode {
    display: block;
    background-color: #FFF;
    margin: auto;
    width: 90%;
    max-width: 340px;
    padding: 20px;
  }
  small {
    word-wrap: break-word;
    line-height: 11px;
    font-size: 12px;
  }
}
