button,.btn {
	width: $formControlWidth;
	border-radius: $formControlBorderRadius;
	margin: auto;
	margin-top: $formControlMargin;

	&.primary{
		background-color: $primaryBlue;
		color:$primaryTextColor;
	}
	&.primary-inverted{
		background-color: transparent;
		border: 1px solid white;
		color:$primaryTextColor;
		padding: 5px;
		font-weight: bold;
	}

	&:hover,&:active{
		background-color: $secondaryBlue;
	}
    &[disabled="disabled"]{
     opacity: 0.2;	
    }
	@include desktop();
}