<div class="make-payment">
  <nav class="navbar navbar-dark bg-dark">
    <a class="wrapper" href="#" v-on:click="goBack"><i class="fas fa-chevron-left text-light"></i></a>
    <a class="navbar-brand" href="#">
    <span>make payment</span>
    </a>
  </nav>
  <section class="show">
     <div class="card text-white bg-info mb-3" style="margin-top: 10px;">
      <div class="card-body">
        <h5 class="card-title">Pay via QR Code</h5>
        <button class="btn btn-info text-white"  v-on:click="onQRRead">qr code</button>
      </div>
    </div>
   
  </section>
  <!-- <img src="static/img/epiphany-logo.png"> -->
  <section v-bind:class="formClass">
    <div class="card text-white bg-info mb-3" style="margin-top: 10px;">
      <div class="card-body">
        <h5 class="card-title">Make a Payment to</h5>
        <input v-model="toAddress" type="text" class="form-control text-light" aria-describedby="private key" placeholder="address">
      </div>
    </div>
    <div class="card text-white bg-info mb-3" style="margin-top: 10px;">
      <div class="card-body">
        <h5 class="card-title">The Amount to send</h5>
        <input v-model="amount" type="number" class="form-control text-light" aria-describedby="private key" placeholder="amount (ENY)">
      </div>
    </div>
  </section>
  <div class="transaction-info card bg-muted mb-3" v-bind:class="[transactionClass,transactionShow]" style="margin-top: 10px;">
    <div class="card-body">
      <h5 class="card-title">Transaction Information</h5>
      <p><strong>Address</strong></p>
      <p>{{toAddress}}</p>
      <p><strong>Amount</strong></p>
      <p>{{amount}} ENY</p>
      <p><strong>Transaction Fee</strong></p>
      <p>{{transactionFee}}</p>
      <p><strong>Current Ethereum Balance</strong></p>
      <p>{{currentBalance}}</p>
      <p><strong>Ethereum Balance After</strong></p>
      <p>{{balanceAfter}}</p>
    </div>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-info verify-button"  v-bind:class="formVerifyButtonClass" v-on:click="checkCost" v-bind:disabled="verifyButtonDisabled">verify</button>
    <button type="button" class="btn btn-info form-back-button" v-bind:class="formBackButtonClass" v-on:click="showForm">back</button>
    <button type="button" class="btn btn-info send-button" v-on:click="sendTransaction" v-bind:class="formSendButtonClass" v-bind:disabled="sendButtonDisabled">send</button>
  </div>
  <section class="text-white" v-bind:class="showTransactionSent">
    <div class="card text-white bg-info mb-3" style="margin-top: 10px;">
      <div class="card-body">
        <h5 class="card-title"> Transaction sent</h5>
        <p><strong>Transaction Hash</strong></p>
        <p>{{transactionHash}}</p>
      </div>
    </div>
  </section>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true" id="qr-reader-modal" data-backdrop="">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ">Read QR Code</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <video id="qrPreview" autoplay></video>
        </div>
      </div>
    </div>
  </div>
</div>
