$backgroundColorDark : #040707;
$primaryBlue:#14a0de;
$secondaryBlue:#72c6eb;
$primaryTextColor:#FFFFFF;
$darkBorderColor:#1d1f1f;
$primaryRed: #d21557;
$primaryGreen: #15d22d;
$backgroundSecondaryDark:#1d1f1f;
