@import 'fonts';
@import 'color_palette';
body {
  background-color: $backgroundColorDark;
  .container {
    height: 100vh;
  }
}

.alert-danger {
  background-color: #d63031;
}
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset;
    -webkit-text-fill-color:#fff;
}